<div id="navbar" class="collapse navbar-collapse">
	<ul class="nav" role="menu">
		<li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">PENETRATION-TEST <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#Windows">Windows</a></li>
				<li><a href="#Linux">Linux</a></li>
				<li><a href="#Android">Android</a></li>
				<li><a href="#iOS">Android</a></li>
				<li><a href="#xss_cheatsheet">XSS Cheat Sheet</a></li>
			</ul>
		</li>
		<li class="nav-security" role="menuitem"><a href="{{site.baseurl}}security/">Security</a></li>
		<li class="nav-Develope" role="menuitem"><a href="{{site.baseurl}}develope">Develope</a></li>
		<li class="nav-etc_info role="menuitem"><a href="{{site.baseurl}}Etc_info">Etc-Info</a></li>
	</ul>
</div>
